<% content_for :header, "New Group"%>
<% content_for :second_nav do -%>
  <li><%= link_to 'Back', groups_path %></li>
<%- end -%>


<%= form_for(@group) do |f| %>
  <%= display_errors(f) %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


