<% content_for :header, "Editing character" %>
<% content_for :second_nav do -%>
  <li><%= link_to 'Show', character_path(@character) %></li>
  <li><%= link_to 'Back', characters_path %></li>
<%- end -%>


<%= form_for(@character) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

