<html>
<head>
  <%= tag 'meta', 'charset' => 'utf-8' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:header)  || controller.action_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>

<%= render :partial => 'layouts/nav_bar' %>
<ul id='secondNav'>
   <%= yield(:second_nav) %>
</ul>

<h1><%= yield(:header) %></h1>
<div class='clear'/>
<div id='content'>
  <%= yield  %>
</div>

<%= javascript_include_tag     "jquery-1.6.2.min.js", "application"
%>

<% javascript_tag do -%>  
  $(document).ready(function () {
    $('#btnRoll').click(function(){ 
      var dice =   $('#dice').val();
      roll_dice(dice);
    });       
  });       
<%- end -%>

</body>

</html>
