<html>
<head>
  <%= tag 'meta', 'charset' => 'utf-8' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:header)  || controller.action_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <p style="color: green"><%= flash[:notice] %></p>
    <p style="color: red"><%= flash[:alert] %></p>

    <%= render :partial => 'layouts/nav_bar' %>
    <ul id='secondNav'>
       <%= yield(:second_nav) %>
    </ul>

    <h1><%= yield(:header) %></h1>
    <div class='clear'/>
    <div id='content'>
      <%= yield  %>
    </div>
  </div>

<!-- Extra Javascript -->    
<%= javascript_tag "#{yield :javascript if content_for? :javascript}" %>

</body>

</html>
